*.py[cod]
*.log
/.idea
.afterdown_dropbox_keys.json
.afterknown

# the playground for testing:
afterdown/tests/playground/target_folder
afterdown/tests/playground/folder_to_monitor

# the default rules, used in dev
/rules.json
/dev
.cache

# distribution
*.egg-info/
/dist/*
publish.sh
